<div class="delivery-list">
    <div class="delivery-item">
        <h3>Delivery ID: 1</h3>
        <h4>Customer Name</h4>
        <p>123 Amazing Road</p>
        <p>Amazing Town</p>
        <p>Amazing Post Code</p>
        <div class="assign-row">
            <select name="driver-list" id="driver-list">
                <option value="Driver 1">Driver 1</option>
                <option value="Driver 2">Driver 2</option>
                <option value="Driver 3">Driver 3</option>
                <option value="Driver 4">Driver 4</option>
                <option value="Driver 5">Driver 5</option>
            </select>
            <button>Assign</button>
        </div>
    </div>